@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Oswald', sans-serif;
}

body {
    background: #B9BBB6;
}

body a {
    color: #222021; /* shadow */
}

::-webkit-scrollbar {
    display: none;
}

.light-content {
    background: #B9BBB6;
    color: #222021; /* shadow */
}

.dark-content {
    background: #222021; /* steel */
    color: #d9dddc; /* pearl river */
}

a {
    font-weight: 300;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

.light-content a {
    color: #222021; /* shadow */
}

.dark-content a {
    color: #d9dddc; /* pearl river */
}