@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.light-content {
    background: #e4e4e4;
    color: #363636; /* shadow */
}

.dark-content {
    background: #777b7e; /* steel */
    color: #d9dddc; /* pearl river */
}

.light-content a {
    color: #363636; /* shadow */
}

.dark-content a {
    color: #d9dddc; /* pearl river */
}